VITE_FIREBASE_API_KEY=AIzaSyAwoPuLzsgBJNyCou4GmPBrtSiFxMeyVKU
VITE_FIREBASE_AUTH_DOMAIN=attendance-tracker-c2283.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=attendance-tracker-c2283
VITE_FIREBASE_STORAGE_BUCKET=attendance-tracker-c2283.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=445093726021
VITE_FIREBASE_APP_ID=1:445093726021:web:32eddeb72121dcc311e02c
